* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

body {
  font-family: var(--font-text);
  font-size: var(--font-normal);
  color: var(--primary-color);
  
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: var(--font-large);
}

h2 {
  font-size: var(--font-large);
}

h3 {
  font-size: var(--font-medium);
  text-transform: initial;
  margin: 0 0 var(--spacings-medium);
}

p {
  margin: 0 0 var(--spacings-medium) 0;
}

a {
  text-decoration: none;
}

article {
  width: 100%;
}

.responsive-table {
  overflow-x: auto;
}

table{
  max-width: 60rem;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: var(--font-small);
  margin-bottom: 1rem 0;
  caption-side: top;
}

table td, table th {
  white-space: nowrap;
  padding: 1rem;
  border: 0.1rem solid var(--light-gray-color);
}

tfoot td, table th{
  background-color: var(--light-gray-color);
  font-size: var(--font-small);
}