.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  position: relative;
  gap: var(--gap);
  justify-content: center;
  align-content: center;
  padding: var(--font-xlarge);
}

.intro-content p {
  margin-top: 3rem;
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);

}

.form-group {
  flex: 1 1 320px;
}

.form-group label {
  display: block;
}

.form-group imput
.form-group textarea{
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
}