.menu-spacing {
  height: 65px;
}

.menu {
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--light-gray-color);
  z-index: 1;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;
}

.menu h1 {
  font-size: var(--font-normal);
  color: var(--primary-color);
  margin-left: 3rem;
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  font-family: var(--font-text);
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}