@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primary-color: #0e1838;
  --secundary-color: crimson;
  --white-color: #fff;
  --light-gray-color: rgb(228, 228, 228);

  --font-title: "Montserrat", sans-serif;
  --font-text: "Open Sans", sans-serif;
  --font-bold: 700;
  --font-xxlarge: 10rem;
  --font-xlarge: 8rem;
  --font-large: 6rem;
  --font-medium: 4rem;
  --font-normal: 2.3rem;
  --font-small: 1.8rem;
  --font-xsmall: 1.6rem;
  --font-xxsmall: 1.4rem;

  --container-width: 120rem;
  --container-width-small: 80rem;
  --container-images: 36rem;

  --spacings-xsmall: 1rem;
  --spacings-small: 2rem;
  --spacings-medium: 3rem;
  --spacings-large: 5rem;
  --spacings-xlarge: 8rem;
  --spacings-xxlarge: 11rem;

  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  font-size: var(--font-normal);
  color: var(--primary-color);
  max-width: 100vw;
  height: 100vh;
}

h1,
h2 {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: var(--font-large);
}

h3 {
  font-size: var(--font-medium);
  font-family: var(--font-title);
  text-transform: initial;
  margin: 0 0 var(--spacings-medium) 0;
  font-weight: var(--font-bold);
}

p {
  margin: 0 0 var(--spacings-medium) 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

article {
  width: 100%;
}

.responsive-table {
  overflow-x: auto;
}

table {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: var(--font-small);
  margin-bottom: 1rem 0;
  caption-side: top;
}

table td,
table th {
  white-space: nowrap;
  padding: 1rem;
  border: 0.1rem solid var(--light-gray-color);
}

tfoot td,
table th {
  background-color: var(--light-gray-color);
  font-size: var(--font-small);
}

.main-bg {
  background-image: url("../img/endless-constellation.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
  margin: 0 auto;
}

.main-content {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacings-medium);
}

.white-content {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: var(--spacings-medium);
}

.white-content h2 {
  padding: var(--spacings-large);
}

.section {
  min-height: 100vh;
  margin-bottom: var(--spacings-large);
}

.menu-spacing {
  height: 65px;
}

.menu {
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--light-gray-color);
  z-index: 1;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;
}

.menu h1 {
  font-size: var(--font-normal);
  color: var(--primary-color);
  margin-left: 3rem;
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  font-family: var(--font-text);
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--secundary-color);
  transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  position: relative;
  gap: var(--gap);
  justify-content: center;
  align-content: center;
}

.intro-content p {
  margin-top: 3rem;
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-main-heading {
  margin-top: 8rem;
}

.grid-description {
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid h3 {
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: var(--font-xlarge);
  font-style: italic;
  top: -1.9rem;
  left: -1.3rem;
  transform: rotate(5deg);
}

.grid p {
  padding: 1rem;
}

.grid-gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.gallery-img {
  overflow: hidden;
  padding: 1rem;
}

.gallery-img img {
  transform: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.1) rotate(5deg);
}

.contact-form {
  grid-column: span 2;
}

.contact-form,
.form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-group {
  flex: 1 1 320px;
}

.form-group legend {
  font-size: var(--font-xsmall);
  font-style: italic;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: var(--font-normal);
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 15px var(--secundary-color);
}

div .full-width {
  width: 100;
  flex: 1 1 100%;
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  padding: 1.5rem 2rem;
  background: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  font-size: var(--font-small);
  color: var(--white-color);
}

.form-group button:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: va(--light-gray-color);
}

footer {
  margin-top: -4.9rem;
}

.white-bg-footer p,
.footer-content p {
  background: var(--white-color);
  color: var(--primary-color);
  margin: 0 auto;
  padding: var(--spacings-medium);
  text-align: center;
  font-size: var(--font-small);
}

.white-bg-footer a,
.footer-content a {
  color: var(--primary-color);
  font-weight: var(--font-bold);
  font-style: italic;
}

.close-menu {
  display: none;
}

@media (max-width: 800px) {
  .intro-content {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-gallery {
    grid-template-columns: 1fr;
  }
  .gallery-img {
    padding: 2rem 0;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menu-content {
    flex-direction: column;
  }

  div.menu-content > h1 > a {
    margin-right: 3rem;
  }

  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .close-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .close-menu-label::after {
    content: '≡';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-medium);
    line-height: var(--spacings-small);
    width: var(--spacings-medium);
    height: var(--spacings-medium);
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }
}
