:root {
    --primary-color: #0a1128;
    --secondary-color: crimson;
    --white-color: #fff;
    --light-gray-color: #eee;
    --gap: 3rem;
    --font-title: "Montserrat", sans-serif;
    --font-text: "Open Sans", sans-serif;
  }